* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #c0c0c0;
  font-family: Arial, Helvetica, sans-serif;
}

header,
.hook,
.hook-2 {
  color: #fff;
  height: 80px;
}

header h1 {
    border-bottom: 2px solid #fff;
    display: inline-block;
}

main {
  height: calc(100vh - 80px);
}

section h2 {
  font-size: 20px;
  font-weight: bold;
}

/* JS hooks */

.hook,
.hook-2 {
  background-color: rgba(0, 0, 0, 0.293);
  border-radius: 25px;
}

/* JS icon */

.fa-users,
.fa-robot {
  padding: 0 20px;
  font-size: 25px;
}

.fa-users {
  color: green;
}

.fa-robot {
  color: crimson;
}
